{% extends 'base.html'}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/pizzas/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Sabor</th>
            <th>Ingredientes</th>
            <th>Preço</th>
        </tr>
        {% for pi in pizzas %}
        <tr>
            <td>{{pi.sabor}}</td>
            <td>{{pi.ingredientes}}</td>
            <td>{{pi.preço}}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}